.about-name
{
	font-family: 'avenir';
	font-size: 36px !important;
}

.mb-10
{
	margin-bottom: 10px;
}

.mb-20
{
	margin-bottom: 20px;
}

.mb-30
{
	margin-bottom: 30px;
}

.mb-50
{
	margin-bottom: 50px;
}

.mt-20
{
	margin-top: 20px;
}

.mt-30
{
	margin-top: 30px;
}

.mt-50
{
	margin-top: 50px;
}

.pb-5
{
  padding-bottom: 5px;
}

.form-footer input, .form-footer textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #fff !important;
    color: #fff !important;
    line-height: inherit;
    padding: 8px 13px;
    width: 100%;
    background: #000 !important;
}

.contact-btn
{
	border: 2px solid #fff !important;
	color: #fff !important;
}

.width-50
{
	width: 50%;
}

.brand-title
{
	color: #323232;
    font-size: 50px;
    margin: 0 0 10px;
    font-family: 'avenir';
    text-transform: uppercase;
    font-size: 700;
}

.mission-title
{
	color: #323232;
    font-size: 50px;
    margin: 0 0 10px;
    font-family: 'avenir', sans-serif;
    /*text-transform: uppercase;*/
    font-size: 700;
}	

.contact-title
{
    font-family: 'avenir', sans-serif;
}

.career-title
{
    font-family: 'avenir', sans-serif;
	color: #323232;
	font-size: 26px;
}

.position
{
	font-family: 'avenir' !important;
	font-style: italic;
	font-weight: 700;
	color: #3a3838;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.brand-container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.brand-hover-title
{
	font-size: 26px;
	font-family: 'avenir';
	font-weight: 700;
	line-height: 28px;
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir.ttf?v=1.0.0-beta');
    src: url('../fonts/avenir.ttf?v=1.0.0-beta') format('embedded-opentype'),
    url('../fonts/avenir.ttf?v=1.0.0-beta') format('truetype'),
    url('../fonts/avenir.ttf?v=1.0.0-beta') format('ttf'),
    font-weight: normal;
    font-style: normal;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.pr-25
{
  padding-right: 25px;
}

.roboto
{
  font-family: 'Roboto', sans-serif;
}